*, body {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    border:none;
}
.header,
 .footer {
    width:100%;
    height:100px;
    background:rgba(0,0,0,0.5);
}
.page {
    width:100%;
    min-height:80vh;
    background:blue;
}
.page_in {
    max-width:1092px;
    min-height:80vh;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    padding-bottom:50px;
}

/* верхний код вам не нужен */

/* здечь начинается код, который относиться непосредственно к блоку галереи */
.gallery__box {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    gap:10px; /* захотите увеличите отступы */
}
.gallery__box_item {
    flex: 1 1 30%; /* можно изменить в целях колличества отображения в строке + учитывайте gap */
    min-width:250px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.gallery__box_item_img {
    object-fit:cover;
    flex:1 1 auto;
}
.gallery__box_item_img img {
    height:100%;
    width:100%;
    object-fit:cover;
}
.gallery__box_item_text {
    height: 50px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,0.8); /* заливка для окна текста */
}
.gallery__box_item_text span {
    /* здесь добавите стили для текста */
}
/* для js */
.clickLoop {
/*
    здесь ничего нет. это пометка для js что увеличивать
    можно было и не писать тут, но хороший тон любой класс озвучить
 */
}
.clickLoop__active {
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100vh !important;
    & .gallery__box_item_img {
        padding-top:5vh;
        padding-bottom:5vh;
        object-fit:cover;
        height: 90vh !important;
        background:rgba(255,255,255,0.8); /* фоновое изображение, тень, заливка */
        & img {
            object-fit:contain;
        }
    }
    & .gallery__box_item_text {
        height:10vh;
        padding-bottom:10vh;
        & span {
            font-size:5vh; /* пожелаете измените адаптивный размер */
        }
    }
}

/* дополнения если пожелаете, если нет, удалите в html effect_border_blue */
/*
    дополнительная анимация для активных кнопок для текста
    просто добавляете в тег в класс названия этого стиля и он будет применим
    пример class="свои какие-то стили и effect_border_blue"
    как просто надо обозначить, что можно нажать
*/
.effect_border_blue   {
	position:relative;
}
.effect_border_blue::before {
	content: '';
	position: absolute;
	bottom: -5px;
	width: 25%;
	height: 2px;
    background: #45576D;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
}
.effect_border_blue:hover {
    cursor: pointer;
}
.effect_border_blue:hover:before {
	width: 50%;
}
.effect_border_blue:active:before {
    width: 100%;
}

/*
    анимация обоев  если понадобиться
    так же к любому блоку добавляется этот класс или к боди
*/
.back_anim {
    background-image:linear-gradient(90deg, #90EE90, #87CEFA);
    animation: gradient_back 5s ease infinite;
    background-size: 400% 100%;
}
@keyframes gradient_back {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* здесь код, адаптированый для автопрефикса  */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
* https://autoprefixer.github.io/ru/
* собственно когда удалите лишнее и настроете что надо,
* перед переносом просто прогоните тоже по верхней ссылке
*/

*, body {
    padding: 0;
    margin: 0;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border:none;
}
.header,
 .footer {
    width:100%;
    height:100px;
    background:rgba(0,0,0,0.5);
}
.page {
    width:100%;
    min-height:80vh;
    background:blue;
}
.page_in {
    max-width:1092px;
    min-height:80vh;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    padding-bottom:50px;
}

/* верхний код вам не нужен */

/* здечь начинается код, который относиться непосредственно к блоку галереи */
.gallery__box {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    gap:10px; /* захотите увеличите отступы */
}
.gallery__box_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%; /* можно изменить в целях колличества отображения в строке + учитывайте gap */
    min-width:250px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
}
.gallery__box_item_img {
    -o-object-fit:cover;
       object-fit:cover;
    -webkit-box-flex:1;
        -ms-flex:1 1 auto;
            flex:1 1 auto;
}
.gallery__box_item_img img {
    height:100%;
    width:100%;
    -o-object-fit:cover;
       object-fit:cover;
}
.gallery__box_item_text {
    height: 50px;
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    background:rgba(255,255,255,0.8); /* заливка для окна текста */
}
.gallery__box_item_text span {
    /* здесь добавите стили для текста */
}
/* для js */
.clickLoop {
/*
    здесь ничего нет. это пометка для js что увеличивать
    можно было и не писать тут, но хороший тон любой класс озвучить
 */
}
.clickLoop__active {
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100vh !important;
    & .gallery__box_item_img {
        padding-top:5vh;
        padding-bottom:5vh;
        -o-object-fit:cover;
           object-fit:cover;
        height: 90vh !important;
        background:rgba(255,255,255,0.8); /* фоновое изображение, тень, заливка */
        & img {
            -o-object-fit:contain;
               object-fit:contain;
        }
    }
    & .gallery__box_item_text {
        height:10vh;
        padding-bottom:10vh;
        & span {
            font-size:5vh; /* пожелаете измените адаптивный размер */
        }
    }
}

/* дополнения если пожелаете, если нет, удалите в html effect_border_blue */
/*
    дополнительная анимация для активных кнопок для текста
    просто добавляете в тег в класс названия этого стиля и он будет применим
    пример class="свои какие-то стили и effect_border_blue"
    как просто надо обозначить, что можно нажать
*/
.effect_border_blue   {
	position:relative;
}
.effect_border_blue::before {
	content: '';
	position: absolute;
	bottom: -5px;
	width: 25%;
	height: 2px;
    background: #45576D;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
}
.effect_border_blue:hover {
    cursor: pointer;
}
.effect_border_blue:hover:before {
	width: 50%;
}
.effect_border_blue:active:before {
    width: 100%;
}

/*
    анимация обоев  если понадобиться
    так же к любому блоку добавляется этот класс или к боди
*/
.back_anim {
    background-image:-webkit-gradient(linear, left top, right top, from(#90EE90), to(#87CEFA));
    background-image:-o-linear-gradient(left, #90EE90, #87CEFA);
    background-image:linear-gradient(90deg, #90EE90, #87CEFA);
    -webkit-animation: gradient_back 5s ease infinite;
            animation: gradient_back 5s ease infinite;
    background-size: 400% 100%;
}
@-webkit-keyframes gradient_back {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradient_back {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}